<table id="dataset_contents" class="ui unstackable table" width="100%">
    <thead>
        <tr>
            <th>Categories </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for node in nodes_data %}
        <tr>
            <td>{{ node.name }}
            </td>
            <td class="right aligned">
              <button label-name="{{ node.name }}" label-id="{{ node.id }}" event-added=0
                      class="add-label-button blue ui button right labeled icon">
                Add <i class="plus box icon"></i>
              </button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>